.body {
  font-family: sans-serif, "pt sans narrow"; }

.tituloprincipal, .titulos, #subtitulo {
  font-size: 10vw;
  font-family: sans-serif, "pt sans narrow";
  color: #b8b4b3;
  font-weight: bold;
  text-decoration: none; }

.tituloprincipal:hover, .titulos:hover, #subtitulo:hover {
  color: #b8b4b3; }

.titulos {
  font-size: 6vw; }

#subtitulo {
  font-size: 4vw; }

li {
  color: #b8b4b3;
  font-size: 2vw;
  font-weight: bold; }

footer {
  background-color: #b8b4b3;
  color: black; }
